*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.5rem;
  color: rgb(208, 208, 208);
}
body {
  margin: 0;
  font-family: "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: rgb(18, 18, 18);
  max-width: 100vw;
}

a{
  text-decoration: none;
  color: inherit;
}
nav a:hover{
  color: green;
}
ul{
  display: block;
  align-items: center;
}
nav{
  display: flex;
  align-items: center;
  width: 100vw;
  flex-direction: row;
  justify-content: space-around;
  background: black;
  box-shadow: 0 2px 10px black;

}
nav a{
  font-size: 2rem;
  color: #37ff37;

  display: inline-block;

  padding-top: 30px;
  padding-bottom: 30px;

  margin: 0;
  transition: color 0.1s;
}
.skills, .languages{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: space-around;
  max-width: 100vw;
  column-gap: 50px;
}
.skills{height: 80vh;}
.languages{height: 30vh; margin: 40px;}
.skills li, .languages li{
  display: flex;
  height: 300px;
  width: 300px;
  align-content: center;
  align-items: center;
  color: white;

  box-shadow: 0 0 20px black;
  justify-content: center;

  transition: transform 0.5s;
}
.skills li{
  border: 1px solid white;
  background-color: #000000;
  border-radius: 50px;
}
.languages li{
  border-radius: 50%;
  background-color: darkolivegreen;
}
.skills li:hover{
  transform: scale(1.1, 1.1);
  background: #000000;
}

::-webkit-scrollbar{
  display: none;
}
.educationDiv{
  margin-top:30px;
  margin-bottom: 30px;
}
.contacts{
  display: flex;
  width: 100vw;
  justify-content: center;
  column-gap: 50px;
}
.homeDiv{
  display: flex;
  flex-flow: column wrap;
  height: 75vh;
  align-content: center;
  justify-content: center;
}
.homeDiv h1{
  font-size: 3rem;
  margin: 40px;
}
.homeDiv h3{
  font-size: 2rem;
  margin: 40px;
}
#image1{
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 15vw;
  border-radius: 15px;
}
#image2{
  position: absolute;
  left: 15px;
  bottom: 15px;
  width: 15vw;
  border-radius: 15px;
}